/* :root {
  --accent-color: #2196f3;
  --text-primary: #757575;
  --text-title: #212121;
  --primary-white-color: #ffffff;
  --primary-bcg-color: #f5f4fa;
  --primary-fill-svg: #afb1b8;

  --primary-font: 'Roboto';
  --secondary-font: 'Raleway';
}

body {
  color: var(--text-title);
  background-color: var(--primary-white-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;

  margin-left: auto;
  margin-right: auto;
}

/* ======= Heaeder style start here ======= */

header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: var(--text-title);

  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}
.logo__accent {
  color: var(--accent-color);
} */

/* main-nav */
/* 
.main-nav {
  display: flex;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  margin-left: 93px;
}
.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-title);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav__link--activ::after {
  position: absolute;
  bottom: -1px;
  content: '';
  display: flex;
  width: 100%;
  height: 4px;

  background: #2196f3;
  border-radius: 2px;
}

.nav__link:hover,
.nav__link:focus {
  color: var(--accent-color);
}
.nav__link .nav__link--activ {
  color: var(--accent-color);
}

.contakts {
  display: flex;
  justify-content: center;
  text-align: center;

  margin-left: auto;
}

.contakts__item:not(:last-child) {
  margin-right: 50px;
}

.contakts__link {
  display: flex;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;
  margin-left: auto;

  color: var(--text-primary);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contakts__ico-phone,
.contakts__ico-mail {
  color: var(--text-primary);
}

.contakts__icon {
  margin-right: 10px;
  fill: var(--text-primary);
}

.contakts__link:hover,
.contakts__link:focus {
  color: var(--accent-color);
}

.contakts__link:hover .contakts__icon,
.contakts__link:focus .contakts__icon {
  fill: var(--accent-color);
}

/* ======= Heaeder style end here ======= */

/* ======= Hero style start here ======= */

button {
  cursor: pointer;
}

.main-hero {
  padding: 200px 0;
  max-width: 1600px;
  height: 600px;
  text-align: center;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/fone.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero__title {
  margin-top: 0;
  margin-bottom: 30px;

  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero__button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 50px;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  text-align: center;
} */

/* ======= Hero style end here ======= */

/* ======= feauture style start here ======= */

/* .feature {
  padding: 0;
}

.feature__list {
  display: flex;
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  background-color: var(--primary-bcg-color);
  min-width: 270px;
  min-height: 120px;
  border-radius: 4px;
}

.feature__title {
  margin-bottom: 10px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.feature__ico {
  display: flex;
  justify-content: center;
  align-items: center;
}

.feature__content {
  color: var(--text-primary);

  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
} */

/* ======= feauture style end here ======= */

/* ==== What are we doing style start here ==== */
/* 
.work-examples {
  padding: 0;
}

.work-examples__title {
  margin-bottom: 50px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.work-examples__list {
  display: flex;
  padding-bottom: 94px;
}

.work-examples__item:not(:last-child) {
  margin-right: 30px;
}

.work-examples__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.work-examples__item {
  position: relative;
}

.descript {
  bottom: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 370px;
  height: 70px;

  background: rgba(47, 48, 58, 0.8);
}

.descript__text {
  color: var(--primary-white-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* ==== What are we doing style end here ====*/

/* ===== Our team style start here ===== */
/* 
.team {
  background-color: var(--primary-bcg-color);
}

.team__title {
  margin-bottom: 50px;

  color: var(--text-title);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.team__list {
  display: flex;
  margin-left: -20px;
  margin-top: -20px;
}

.card {
  width: 270px;
  min-height: 368px;
  left: 215px;
  top: 1635px;

  background: var(--primary-white-color);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.card__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.card__content {
  padding: 30px;
}

.card__name {
  color: var(--text-title);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.card__position {
  margin-top: 10px;

  color: var(--text-primary);

  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-social {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.team-social__item:not(:last-child) {
  margin-right: 10px;
}

.team-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social__icon {
  fill: var(--primary-fill-svg);
}

.team__list .member__item {
  flex-basis: calc(100% / 3 - 20px);
  margin-left: 20px;
  margin-top: 20px;
}

.team-social__link:hover,
.team-social__link:focus {
  background-color: var(--accent-color);
}

.team-social__link:hover .team-social__icon,
.team-social__link:focus .team-social__icon {
  fill: var(--primary-white-color);
}

/* ===== Our team style end here ===== */

/* regular customers (start) */

.customers__title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-bottom: 50px;

  color: var(--text-title);

  font-style: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  letter-spacing: 0.03em;
}

.customers__list {
  display: flex;
  justify-content: space-between;
}

.customers__item {
  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 170px;
  min-height: 92px;
}

.customers__item:not(:last-child) {
  margin-right: 30px;
}

.customer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.customer__ico {
  fill: var(--primary-fill-svg);

  transition-property: fill, border-color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customer__link:hover .customer__ico,
.customer__link:focus .customer__ico {
  fill: var(--accent-color);
}

.customer__link:hover {
  border-color: var(--accent-color);
}

/* regular customers (end) */

/* ===== Footer style start here ===== */

.address {
  display: flex;
  padding: 0;
}

.footer-box {
  display: flex;
  padding-bottom: 60px;
  padding-top: 60px;

  background: #2f303a;
}

.address-box {
  display: flex;
  align-items: baseline;
}

.logo-footer {
  color: var(--primary-white-color);

  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

.footer__list {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}

.footer__item:not(:last-child) {
  padding-bottom: 9px;
}

.footer__location {
  color: var(--primary-white-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;

  transition-property: color, border-color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__location :hover,
.footer__location :focus {
  color: var(--accent-color);
}

.footer__link {
  color: rgba(255, 255, 255, 0.6);

  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.footer__link:hover,
.footer__link:focus {
  color: var(--accent-color);
}

.footer-link-box {
  margin-left: 70px;
  width: 206px;
  height: 80px;
}

.footer-link-box__title {
  color: var(--primary-white-color);

  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.footer-social__item {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-social__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;

  transition-property: fill, border-color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social__link:hover,
.footer-social__link:focus {
  background-color: var(--accent-color);
}

.footer-social__icon {
  fill: var(--primary-white-color);
}

.subscribe-box {
  margin-left: 93px;
}

.subscribe-form__title {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.subscribe-form__email {
  display: inline-block;
  margin-top: 20px;
  padding: 15px 16px;
  width: 358px;
  height: 50px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-color: var(--text-primary);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  background-color: #2f303a;
  transition: border-color, 250ms cubic-bezier(0.4, 0, 0.2, 1);
} */
/* 
.subscribe-form__email:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.subscribe {
  display: inline-block;
  margin-left: 12px;
}

.subscribe__button {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  letter-spacing: 0.06em;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.subscribe__icon {
  margin-left: 10px;
}

/* ===== Footer style end here ===== */

/* =*=*=*= Portfolio =*=*=*= */

/* ===== Filter-button style start here ===== */

.button-list {
  padding: 0;
}

.button-list__list {
  display: flex;
  justify-content: center;
  margin: 94px 0 50px;
}

.button-list__item:not(:last-child) {
  margin-right: 8px;
}

.button-list__filter {
  padding: 6px 22px;
  border-radius: 4px;
  text-align: center;

  background: var(--primary-bcg-color);

  border: none;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  transition-property: color, box-shadow, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list__filter.button-list__filter--current {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.button-list__filter:hover,
.button-list__filter:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* ===== Filter-button style end here ===== */

/* ===== product-examples style start here ===== */

.product-examples {
  padding-top: 0;

  color: var(--text-title);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.product-list .product-list__item {
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

.product-card {
  width: 370px;
  height: 404px;
  left: 615px;
  top: 696px;

  background: var(--primary-white-color);
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.product-card__link {
  display: block;
  color: var(--text-title);
  font-family: inherit;
}

.product-card__link:hover,
.product-card__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-card__link:hover .product-card__overlay-text,
.product-card__link:focus .product-card__overlay-text {
  opacity: 1;
  transform: translateY(0%);
}

.product-card__link:hover ::before,
.product-card__link:focus ::before {
  opacity: 1;
  transform: translateY(0%);
}

.product-card__overlay {
  position: relative;
  overflow: hidden;
} */
/* 
.product-card__overlay::before {
  position: absolute;
  display: inline-block;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);
}

.product-card__image {
  display: block;
  max-width: 100%;
  height: auto;
  overflow: hidden;
}

.product-card__overlay-text {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  opacity: 0;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  transform: translateY(100%);

  color: var(--primary-white-color);
}

.product-card__text {
  padding: 20px;
}

.roduct-card__title {
  margin-bottom: 4px;

  color: var(--text-title);

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.roduct-card__branch {
  color: var(--text-primary);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

/* ===== product-examples style end here ===== */

/*===== modal===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  visibility: visible;
  opacity: 1;
  transition: visibility, opacity, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop--is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop--is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  min-width: 528px;
  min-height: 581px;
  padding: 40px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  background-color: var(--primary-white-color);

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close:hover {
  fill: var(--accent-color);
}

.modal__title {
  width: 100%;
  margin-bottom: 12px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--text-title);
}

.form {
  margin-top: 12px;
} */
/* 
.form__label {
  display: block;
}
.form__label:not(:last-child) {
  margin-bottom: 10px;
}

.form__text {
  color: var(--text-primary);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.form__icon-box {
  position: relative;
}

.form__input,
.form__message {
  padding: 0 10px 0 42px;
  margin-top: 4px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: border, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__message:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form__input:focus + .form__icon {
  fill: var(--accent-color);
}

.form__message {
  resize: none;
  font-family: inherit;
  height: 120px;
  padding: 12px 16px;
}

.form__message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy-box {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  font-size: 14px;
  color: var(--text-primary);
}

.policy__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__icon {
  width: 16px;
  height: 15px;
  border: 2px solid var(--text-title);
  border-radius: 3px;
  margin-right: 8px;
  transition: fill, 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.policy__checkbox:focus + .policy__icon {
  outline: none;
  border: 2px solid var(--accent-color);
}

.policy__checkbox:checked + .policy__icon {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../images/icon-check.svg);
  background-size: contain;
  background-position: center;
  background-origin: border-box;
}

.policy__link {
  color: var(--accent-color);
  text-decoration: underline;
  text-decoration-skip-ink: none;
} */

/* .form-button {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  padding: 10px 55px;
  letter-spacing: 0.06em;
  min-width: 200px;
  height: 50px;

  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--primary-white-color);
} */
