// .section-hero {
//   padding-top: 0;
//   min-width: 1600px;
//   height: 600px;
// }

// .main-hero {
//   padding: 200px 0;
//   text-align: center;

//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('../images/fone.jpg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-color: #c4c4c4;
// }

// .hero__title {
//   margin-top: 0;
//   margin-bottom: 30px;

//   color: var(--primary-white-color);

//   font-weight: 900;
//   font-size: 44px;
//   line-height: 1.36;
//   text-align: center;
//   letter-spacing: 0.06em;
//   text-transform: uppercase;
// }

// .hero__button {
//   display: block;
//   margin-left: auto;
//   margin-right: auto;
//   height: 50px;
//   min-width: 200px;
//   border: transparent;
//   border-radius: 4px;
//   padding: 10px 32px;

//   background-color: var(--accent-color);
//   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
//   color: var(--primary-white-color);

//   font-family: 'Roboto', sans-serif;
//   font-weight: 700;
//   font-size: 16px;
//   line-height: 1.8;
//   letter-spacing: 0.06em;
//   text-align: center;
// }

// .section-hero {
//   width: 480px;
//   height: 400px;
// }

.section-hero {
  @media screen and (min-width: 1200px) {
    max-width: 1600px;
    height: 600px;
  }
  padding-top: 0;
  height: 400px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/mob/HeroMob.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
  text-align: center;
  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/mob/HeroMob2x.jpg');
  }
  @media screen and (min-width: 768px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/tab/HeroTab.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/tab/HeroTab2x.jpg');
    }
  }
  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url('../images/desk/HeroDesk.jpg');
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/desk/HeroDesk2x.jpg');
    }
  }
}

// .main-hero {
//   padding-top: 0;
//   // min-width: 480px;
//   height: 400px;
//   background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
//     url('/images/HeaderMob.jpg');
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: cover;
//   background-color: #c4c4c4;

//   text-align: center;
// }

.hero__title-box {
  @media screen and (min-width: 1200px) {
    display: inline-block;
    padding: 200px 0;
  }
}

.hero__title {
  @media screen and (max-width: 479px) {
    padding: 118px 0 30px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0;
    margin-bottom: 30px;
    font-size: 44px;
    line-height: 1.36;
  }
  padding: 118px 45px 30px;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero__button {
  height: 50px;
  min-width: 200px;
  border: transparent;
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: var(--primary-white-color);

  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
}
