.menu-button {
  @media screen and (min-width: 767px) {
    display: none;
  }

  display: inline-block;
  margin: 0;
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  background-color: transparent;

  & .icon-cross {
    display: none;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
  &.is-open {
    position: fixed;
  }
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 4;
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.menu {
  display: none;
  flex-direction: column;
  position: fixed;
  padding: 48px 40px;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);
  &.is-open {
    z-index: 3;
    display: flex;
    justify-content: space-between;
  }
}

.menu__item:not(:last-child) {
  padding-bottom: 32px;
}

.menu-contakts {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column-reverse;
  }
}

.menu-contakts__item:not(:last-child) {
  margin-top: 32px;
}

.menu__link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: var(--text-title);
}

.menu__link--activ {
  color: var(--accent-color);
}

.menu-contakts__link {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  color: var(--text-primary);
  &:hover,
  &:focus {
    color: var(--accent-color);
    font-size: 34px;
    line-height: 1.17;
  }
  @media screen and (max-width: 378px) {
    &:hover,
    &:focus {
      color: var(--accent-color);
      font-size: 27px;
      line-height: 1.17;
    }
  }
}

.menu-social {
  margin-top: 64px;
  display: flex;
}

.menu-social__item:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
  padding-right: 10px;
  margin-right: 10px;
}

.menu-social__link {
  @media screen and (max-width: 400px) {
    font-size: 12px;
  }
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: var(--accent-color);
}
