:root {
  // colors
  --accent-color: #2196f3;
  --text-primary: #757575;
  --text-title: #212121;
  --primary-white-color: #ffffff;
  --primary-bcg-color: #f5f4fa;
  --primary-fill-svg: #afb1b8;
  // fonts
  --primary-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
}
